.button_loader {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page_loader_wrapper {
  max-height: 100vh;
  min-height: 700px;
}

.page_loader {
  display: flex;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}