.slider_block{
  position: relative;
  z-index: 10;
  .slider{
    height: 1060px;
    box-sizing: border-box;
    display: flex!important;
    align-items: flex-end;
    padding-bottom: 237px;
    position: relative;
    overflow: hidden;
    .icon_slider{
      position: absolute;
      width: 100%;
      height: 1070px;
      z-index: -1;
      top: 0;
      min-width: 1920px;
      left: calc(50% - 960px);
    }
    .title{
      color: #FFFFFF;
      font-size: 48px;
      line-height: 50px;
      font-family: "SpartanSemiBold",sans-serif;
      text-transform: uppercase;
    }
    .btn_more{
      text-transform: uppercase;
      margin-top: 64px;
    }
  }
  .slider_info{
    position: absolute;
    right: 165px;
    bottom: 237px;
    display: flex;
    flex-flow: column;
    width: 555px;
    &:before{
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background:  rgba(255,255,255,0.5)
    }
    .text{
      justify-content: flex-end;
      padding-bottom: 25px;
      padding-right: 50px;
      display: flex;
      align-items: flex-end;
      p{
        opacity: 0.5;
        color: #FFFFFF;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 24px;
        line-height: 25px;
      }
      .active{
        color: #FFFFFF;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 48px;
        line-height: 50px;
        padding-right: 14px;
        margin-bottom: -7px;
      }
    }
    .line-slider{
      z-index: 10;
      height: 2px;
      background: #DB7F41;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
  }
  .slick-prev{
    font-size: 0;
    position: absolute;
    right: 330px;
    left: auto;
    bottom: 260px;
    width: 13px;
    height: 22px;
    z-index: 20;
    background: transparent;
    top: auto;
    &:before{
      position: absolute;
      content: "";
      background: url("../../../../public/images/prev.svg")no-repeat;
      height: 22px;
      width: 12px;
      right: 0;
      top: 0;
    }
  }
  .slick-next{
    font-size: 0;
    position: absolute;
    right: 165px;
    left: auto;
    bottom: 260px;
    width: 13px;
    height: 22px;
    z-index: 20;
    background: transparent;
    top: auto;
    &:before{
      position: absolute;
      content: "";
      background: url("../../../../public/images/next.svg")no-repeat;
      height: 22px;
      width: 12px;
      right: 0;
      top: 0;
    }
  }
}

.block_video{
  position: absolute;
  right: 0;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  .text{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 25px;
    padding-left: 40px;
    font-family: "SpartanSemiBold",sans-serif;
    display: flex;
    align-items: center;
    width: 452px;
    background:#422D22;
  }
}

