.manage_account{
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
  z-index: 4;
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
  .title{
    text-transform: uppercase;
    font-family: "SpartanSemiBold",sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 64px;
  }
  button{
    text-transform: uppercase;
  }
  .ManageAccountbg{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}