.the_story{
  width: 100%;
  height: 567px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 6;
  .content_block{
    z-index: 10;
    position: relative;
    .title {
      padding-top: 11px;
      color: #FFFFFF;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 48px;
      font-weight: 500;
      line-height: 50px;
      text-transform: uppercase;
    }
  }
  .the_story_img{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}