#wrapper{
  color: #ffffff;
  max-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  font-family: "OpenSansRegular",sans-serif;
  &::-webkit-scrollbar {
    width: 10px;
    height:10px;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;

    background: #a2a5a8;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: #ffffff;
  }
}

.content_block{
  width: 1110px;
  margin: 0 auto;
}

.relative_wrapper {
  position: relative;
}

a{
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

input{
  font-family: "OpenSansRegular",sans-serif;
}

button{
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn_color{
  font-family: "SpartanSemiBold",sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 200px;
  color: #FFFFFF;
  padding: 3px 0 0 0;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  background: #DB7F41;
  box-shadow: 0 2px 8px 0 rgba(66,45,34,0.25);
  position: relative;
  &:before{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 0.2;
    top: 0;
    left: 0;
    transition: all 0.1s linear;
  }
  &:hover{
    &:before{
      width: 100%;
    }
  }
  &:disabled {
    color: rgba(255, 255, 255, 0.3);
    background: #D9AE92;
    &:hover{
      &:before{
        width: 0%;
      }
    }
  }
}

.success_btn {
  height: 48px;
  width: 200px;
  border-radius: 0 2px 2px 0;
  background-color: #2CC197;
  border-color: #2CC197;
  color: #2CC197;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: calc(50% - 7px);
    top: calc(50% - 14px);
    display: block;
    height: 20px;
    width: 10px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}