@font-face {
  font-family: "OpenSansRegular";
  src: url('../../../public/fonts/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "SpartanMedium";
  src: url('../../../public/fonts/Spartan/Spartan-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Spartan";
  src: url('../../../public/fonts/Spartan/Spartan-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "SpartanBold";
  src: url('../../../public/fonts/Spartan/Spartan-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "SpartanSemiBold";
  src: url('../../../public/fonts/Spartan/Spartan-SemiBold.ttf') format("truetype");
}

@import "./reset";
@import "./base";