.privileges_wrapper{
  width: 100%;
  height: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
  z-index: 6;
  .content_block{
    z-index: 10;
    flex-flow: column;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .title{
      height: 96px;
      color: #422D22;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 43px;
      line-height: 50px;
      padding-bottom: 64px;
      text-transform: uppercase;
    }
    .privileges_info{
      display: flex;
      flex-flow: column;
      >div{
        padding-bottom: 28px;
        display: flex;
        flex-flow: column;
      }
      span{
        text-transform: uppercase;
        color: #422D22;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 6px;
        display: flex;
      }
      p{
        color: #FFFFFF;
        font-size: 14px;
        line-height: 19px;
      }
    }

  }
  .privileges{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}