.questions{
  width: 100%;
  height: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
  z-index: 3;
  .content_block{
    z-index: 10;
    flex-flow: column;
    position: relative;
    display: flex;
    align-items: flex-start;
  }
  .title{
    color: #422D22;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 98px;
  }
  .questions_wrapper{
    flex-flow: column;
    width: 100%;
    .expansion_panel{
      border-bottom: 1px solid rgba(41, 47, 54, 0.2);
      box-shadow:none!important;
      padding:39px 0;
      margin:0!important;
      & > :last-child{
        >div{
          >div{
            >div{
              padding: 0!important;
            }
          }
        }
      }
      .jss64{
        position: unset!important;
      }
      .expansion_title{
        color: #422D22;
        font-family: "SpartanMedium",sans-serif;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 0px;
        padding-right: 0!important;
        display: inline-block;
      }
      #panel1a-header{
        padding: 0;
        width: 100%;
        height: auto!important;
        min-height: auto!important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & > :first-child{
          left: auto!important;
          right: auto;
          transform: translateX(0%)!important;
          margin: 0;
          flex-grow: unset;
        }
      }
      .expansion_info{
        color: #422D22;
        font-family: "OpenSansRegular", sans-serif;
        font-size: 14px;
        line-height: 20px;
        padding-top:24px;
      }
    }
    & > :first-child{
      border-top: 1px solid rgba(41, 47, 54, 0.2);
    }
    .arrow{
      padding-left: 8px;
      display: inline-block;
      img{
        transition: all 0.3s linear;
      }
    }
    .MuiExpansionPanelSummary-expanded-33{
      .arrow{
        img{
          transform: rotate(180deg);
        }
      }
    }
    //.MuiExpansionPanelSummary-root-41.MuiExpansionPanelSummary-expanded-42{
    //  .arrow{
    //    img{
    //      transform: rotate(180deg);
    //    }
    //  }
    //}
    .jss33{
      .arrow{
        img{
          transform: rotate(180deg)!important;
        }
      }
    }
  }
  .communitybg9{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}