.earth_wrapper{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
  z-index: 8;
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      .title{
        padding-bottom: 64px;
      }
    }
    .right{
      justify-content: flex-end;
      .title{
        padding-bottom: 32px;
      }
    }
    >div{
      display: flex;
      flex-flow: column;
      .title{
        width: 390px;
        font-family: "SpartanSemiBold",sans-serif;
        color: #422D22;
        font-size: 28px;
        line-height: 33px;
        text-transform: uppercase;
      }
      span{
        width: 390px;
        color: #422D22;
        font-size: 14px;
        line-height: 19px;
      }
    }

  }
  .Communitybg4{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}