.footer {
  width: 100%;
  height: 404px;
  margin-top: -45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #422D22;
  .title{
    padding-bottom: 24px;
    opacity: 0.5;
    color: #FFFFFF;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 95px;
    >div{
      display: flex;
      flex-flow: column;
      width: 16.6%;
      a{
        text-decoration: none;
        padding-bottom: 12px;
        color: #FFFFFF;
        font-family: "OpenSansRegular",sans-serif;
        font-size: 14px;
        line-height: 19px;
        &:hover{
          text-decoration: underline;
        }
      }

    }
  }
  .footer_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social{
      display: flex;
      align-items: center;
      a{

        margin-right: 24px;
        img{
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
        }
        &:hover{
          img{
            transform: scale(0.8);
          }
        }
      }
    }
  }
  .block_info_footer{
    display: flex;
    align-items: center;
    .link_block{
      display: flex;
      align-items: center;
      a{
        margin-left: 40px;
        color: #FFFFFF;
        font-family: "OpenSansRegular",sans-serif;
        font-size: 12px;
        line-height: 17px;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }

    }
    .select_wrapper{
      margin-left: 96px;
    }
  }
}

