.your_story{
  width: 100%;
  height: 1134px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  margin-top: -40px;
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
    .your_story_wrapper{
      width: 555px;
      display: flex;
      flex-flow: column;
    }
    .descriptions{
      font-family: "OpenSansRegular",sans-serif;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 19px;
      padding-bottom: 64px;
    }
    .descriptions_info{
      padding-bottom: 90px;
      color: #FFFFFF;
      font-family: "OpenSansRegular",sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      span{
        font-weight: 400;

      }
    }
    .signature{
      margin-bottom: 24px;
    }
    .title {
      padding-bottom: 32px;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 48px;
      font-weight: 500;
      line-height: 50px;
    }
  }
  .the_story_face3{
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
  }
  .reviews_all{
    display: flex;
    padding-bottom: 32px;
    .reviews_all_{
      margin-right: 24px;
      display: flex;
      p{
        color: #FFFFFF;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 14px;
        line-height: 16px;
        margin-right: 12px;
        align-items: center;
        display: flex;
      }
      .rating_wrapper{
        margin-top: -2px;
        span{
          font-size: 21px!important;
        }
      }
    }
    >div{
      display: flex;
      justify-content: flex-end;
      a{
        align-items: center;
        color: #DB7F41;
        font-family: "SpartanBold",sans-serif;
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        font-size: 14px;
        &:hover{
          img{
            margin-right: -10px;
            margin-left: 32px;
          }
        }
        img{
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          margin-left: 22px;
        }
      }
    }
  }
  .slick-prev{
    font-size: 0;
    position: absolute;
    right: auto;
    left: 0;
    bottom: auto;
    top: 40px;
    width: 13px;
    height: 22px;
    z-index: 20;
    background: transparent;
    &:before{
      position: absolute;
      content: "";
      background: url("../../../../public/images/prev.svg")no-repeat;
      height: 22px;
      width: 12px;
      right: 0;
      top: 0;
    }
  }
  .slick-next{
    font-size: 0;
    position: absolute;
    right: 0;
    left: auto;
    bottom: auto;
    top: 40px;
    width: 13px;
    height: 22px;
    z-index: 20;
    background: transparent;
    &:before{
      position: absolute;
      content: "";
      background: url("../../../../public/images/next.svg")no-repeat;
      height: 22px;
      width: 12px;
      right: 0;
      top: 0;
    }
  }
  .slick-slider {
    padding:0 60px;
  }
  .slider_items{
    box-sizing: border-box;
    display: flex!important;
    .icon_box{
      margin-right: 20px;
    }
    .slider_content{
      flex-flow: column;
      display: flex;
      .rating_comments{
        display: flex;
        align-items: center;
        padding-top: 10px;
        p{
          color: #DB7F41;
          font-family: "Spartan",sans-serif;
          font-size: 14px;
          line-height: 16px;
          margin-right: 12px;
          padding-top: 2px;
        }
        span{
          font-size: 21px!important;
        }
      }
      .descriptions{
        font-family: "OpenSansRegular",sans-serif;
        line-height: 19px;
        padding-top: 12px;
        font-size: 14px;
      }
    }
  }
}