.blog_posts{
  width: 100%;
  height: 850px;
  overflow: hidden;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
  .Shape_brown_large2{
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
  }
  .content_block{
    position: relative;
    z-index: 10;
  }
  .title{
    padding-bottom: 64px;
    color: #FFFFFF;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .blog_posts_wrapper{
    display: flex;
    justify-content: space-between;
    >div{
      width: 246px;
      display: flex;
      flex-flow: column;
      .text_title{
        padding: 24px 0 12px;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 24px;
        line-height: 25px;
      }
      p{
        font-family: "OpenSansRegular",sans-serif;
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 19px;
        position: relative;
        &:before{
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          height: 100%;
          width: 100%;
          box-shadow: inset 0px -61px 47px -39px rgba(115,63,36,1);
        }
      }
      .text_link{
        text-decoration: none;
        text-transform: uppercase;
        color: #DB7F41;
        font-family: "SpartanBold",sans-serif;
        font-size: 14px;
        align-items: center;
        display: flex;
        &:hover{
          img{
            margin-left: 25px;
          }
        }
        img{
          margin-top: -4px;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          height: 14.5px;
          width: 8.5px;
          margin-left: 15px;
        }
      }
      .header_link{
        text-decoration: none;
        color: #FFFFFF;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 24px;
        font-weight: 500;
        &:hover{

        }
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
      }
      .box_icon {
        overflow: hidden;
        text-decoration: none;
        border-radius:4px ;
        img{
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
        }
        &:hover{
          img{
            transform: scale(1.05);
          }
        }
      }
    }
  }
}