.we_promise{
  width: 100%;
  height: 1070px;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 6;
  .content_block{
    display: flex;
    flex-flow: column;
    z-index: 11;
  }
  .title{
    text-transform: uppercase;
    padding-bottom: 32px;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 16px;
  }
  p{
    padding-bottom: 128px;
    font-family: "OpenSansRegular",sans-serif;
    font-size: 14px;
    line-height: 19px;
  }
  .descriptions{
    text-transform: uppercase;
    color: #422D22;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 48px;
    line-height: 50px;
    padding-bottom: 64px;
  }
  .link_block{
    display: flex;
  }
  a{
    text-decoration: none;
    text-transform: uppercase;
    color: #733F24;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    &:hover{
      img{
        margin-left: 25px;
      }
    }
    img{
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      margin-left: 14px;
      margin-top: -5px;
    }
  }
  .promise_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
  }
  .shape_orange_opacity{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}