.the_journey{
  width: 100%;
  height: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 4;
  margin-top: -40px;
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    >div{
      width: 300px;
      span{
        display: block;
        padding-bottom: 20px;
        width: 400px;
        color: #ffffff;
        font-family: "OpenSansRegular",sans-serif;
        font-size: 14px;
        line-height: 19px;
      }
    }
    .title {
      padding-bottom: 80px;
      text-transform: uppercase;
      width: 400px;
      color: #ffffff;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 48px;
      font-weight: 500;
      line-height: 50px;
    }
  }
  .the_story_face2{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}