.works_wrapper{
  width: 100%;
  height: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
  z-index: 9;
  .content_block{
    z-index: 10;
    flex-flow: column;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    >div{
      width: 300px;
      >div{
        position: relative;
        span{
          padding-bottom: 51px;
          color: #FFFFFF;
          font-size: 14px;
          line-height: 19px;
          display: block;
        }
        p{
          position: absolute;
          left: -30px;
          top: 0;
          width: 30px;
          color: #FFFFFF;
          font-family: "Spartan",sans-serif;
          font-size: 24px;
          line-height: 25px;
        }
      }

    }
    .title{
      height: 96px;
      width: 300px;
      color: #FFFFFF;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 48px;
      line-height: 50px;
      padding-bottom: 67px;
      text-transform: uppercase;
    }

  }
  .conditionsbg3{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}