.virgin_choc{
  width: 100%;
  height: 566px;
  margin-top: -40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  .content_block{
    position: relative;
    z-index: 10;
  }
  .title{
    color: #422D22;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 48px;
    line-height: 50px;
    padding-bottom: 64px;
    text-transform: uppercase;
  }
  .wrapper_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div{
      cursor: pointer;
      position: relative;
      height: 202px;
      width: 202px;
      border-radius: 4px;
      &:hover{
        .text_wrapper{
          opacity: 1;
        }
      }
      .box_icon{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 10px 10px 24px 0 rgba(66,45,34,0.25);
        img{
          width: 100%;
          border-radius: 4px;
          height: 100%;
          background-size: 100% 100%;
        }
      }
      .text_wrapper{
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(66, 45, 34, 0.8);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        font-family: "Spartan",sans-serif;
        .box_info{
          margin-top: 34px;
          display: flex;
          >div{
            display: flex;
            align-items: center;
            margin: 0 12px;
            img{
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
  .shape_grey_small{
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
  }
}