.community_favorites{
  width: 100%;
  margin-top: -40px;
  height: 850px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 8;
  .content_block{
    z-index: 9;
  position: relative;
  }
  .shape_grey_large{
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
    width: 100%;
    height: 100%;
  }
  .title{
    text-transform: uppercase;
    color: #422D22;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 48px;
    line-height: 50px;
    padding-bottom: 64px;
  }
  .community_favorites_wrapper{
    display: flex;
    align-items: center;
    >div{
      height: 430px;
      width: 25%;
      position: relative;
      cursor: pointer;
      .text{
        padding-top: 60px;
        padding-left: 40px;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 18px;
        line-height: 25px;
        z-index: 10;
        text-transform: uppercase;
      }
    }
    .group1{
      top: 0;
      left: 0;
      position: absolute;
      background: url("../../../../public/images/image_1.png");
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      z-index: -1;
    }
    .group2{
      top: 0;
      left: 0;
      position: absolute;
      background: url("../../../../public/images/image_2.png");
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      z-index: -1;
    }
    .group3{
      top: 0;
      left: 0;
      position: absolute;
      background: url("../../../../public/images/image_3.png");
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      z-index: -1;
    }
    .group4{
      top: 0;
      left: 0;
      position: absolute;
      background: url("../../../../public/images/image_4.png");
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
}