.our_community_favorites{
  //background: url("../../../assets/image/Shape_grey_large.png");
  width: 100%;
  margin-top: -40px;
  height: 1134px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  .content_block{
    z-index: 10;
  position: relative;
  }
  .shape_grey_large{
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
    width: 100%;
    height: 100%;
  }
  .title{
    text-transform: uppercase;
    color: #422D22;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 48px;
    line-height: 50px;
    padding-bottom: 64px;
  }
  a{
    margin-left: 18px;
    margin-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #733F24;
    font-family: "SpartanBold",sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    &:hover{
      img{
        margin-left: 25px;
      }
    }
    img{
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      margin-left: 14px;
      margin-top: -5px;
    }
  }

  .community_favorites_wrapper{
    display: flex;
    align-items: center;
    >div{
      height: 430px;
      width: 25%;
      position: relative;
      cursor: pointer;
      .text{
        padding-top: 60px;
        padding-left: 40px;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 18px;
        line-height: 25px;
        z-index: 10;
        text-transform: uppercase;
      }
    }
  }
}