.card_favorite{
  width: 100%;
  height: 850px;
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 7;
  overflow: hidden;
  .shape_brown_large{
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
  }
  .content_block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  .block_shop{
    width: 50%;
    height: 630px;
    position: relative;
    .block_info{
      left: 70px;
      position: absolute;
      display: flex;
      flex-flow: column;
      bottom: 80px;
      z-index: 10;
      div{
        text-transform: uppercase;
        font-size: 30px;
        padding-bottom: 16px;
        line-height: 33px;
        font-family: "SpartanSemiBold",sans-serif;
      }
      span{
        color: #FFFFFF;
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 32px;
      }
      button{
        font-family: "SpartanBold",sans-serif;
        display: flex;
        text-transform: uppercase;
        align-content: center;
        background: transparent;
        color: #DB7F41;
        &:hover{
          img{
            margin-left: 25px;
          }
        }
        img{
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          margin-left: 15px;
          margin-top: -2px;
        }
      }
    }
  }
  .block_shop_img{
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    img{
      background-size: 100% 100%;
      height: 630px;
      width: 555px;
    }
  }
  .block_shop_1{
    .block_shop_img{
      display: flex;
      align-content: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
    }
    .block_info{
      span{
        padding-bottom: 51px;
      }
    }
  }
  .block_shop_2{
    .block_shop_img{
      display: flex;
      align-content: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
    }
  }


}