.card {
  width: 100%;
  height: 100%;
  background: transparent;
  //border-radius: 5px;
  background-size: cover;
  background-position: center center;
  //box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}