.the_inspiration{
  width: 100%;
  height: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin-top: -40px;
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
    >div{
     width: 300px;
      span{
        display: block;
        padding-bottom: 20px;
        width: 300px;
        color: #422D22;
        font-family: "OpenSansRegular",sans-serif;
        font-size: 14px;
        line-height: 19px;
      }
    }
    .title {
      padding-bottom: 80px;
      text-transform: uppercase;
      width: 300px;
      color: #422D22;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 41px;
      font-weight: 500;
      line-height: 50px;
    }
  }
  .the_inspirationy_img{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}