.stay_young{
  width: 100%;
  height: 595px;
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 3;
  .subscribe_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    min-width: 1920px;
    left: calc(50% - 960px);
  }
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .title{
    text-transform: uppercase;
    color: #422D22;
    font-family: "SpartanSemiBold",sans-serif;
    font-size: 48px;
    line-height: 50px;
    padding-bottom: 15px;
    text-align: center;
  }
  .descriptions{
    color: #422D22;
    font-family: "OpenSansRegular",sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 24px;
  }
  .search{
    position: relative;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    input{
      font-size: 14px;
      background-color: #F7F7F7;
      padding: 0 24px;
      box-sizing: border-box;
      width: 420px;
      color: #422D22;
      height: 48px;
      border-top-left-radius:2px;
      border-bottom-left-radius:2px;
      &::placeholder{
        opacity: 0.5;
      }
      &:disabled {
        color: rgba(66, 45, 34, 0.5);
      }
    }
    button{
      border-radius: 0;
      height: 48px;
      width: 200px;
      border-top-right-radius:2px;
      border-bottom-right-radius:2px;
      text-transform: uppercase;
      font-family: "SpartanBold",sans-serif;
    }
  }
}