.reviews{
  width: 100%;
  height: 450px;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 7;
  overflow: hidden;
  .shape_brown_small{
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 1920px;
    left: calc(50% - 960px);
    top: 0;
  }
  .content_block{
    z-index: 1;
  }
  .info_reviews{
    display: flex;
    padding-bottom: 64px;
    justify-content: space-between;
    .title{
      color: #FFFFFF;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 24px;
      line-height: 25px;
      text-transform: uppercase;
    }
  }
  .reviews_all{
    display: flex;
    flex-flow: column;
    .reviews_all_{
      display: flex;
      padding-bottom: 15px;
      p{
        padding-top: 3px;
        color: #FFFFFF;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 14px;
        line-height: 16px;
        margin-right: 15px;
      }
    }
    >div{
      display: flex;
      justify-content: flex-end;
      a{
        align-items: center;
        color: #DB7F41;
        font-family: "SpartanBold",sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        &:hover{
          img{
            margin-right: -10px;
            margin-left: 32px;
          }
        }

        img{
          margin-top: -4px;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          margin-left: 22px;
        }
      }
    }
  }
  .slick-prev{
    font-size: 0;
    position: absolute;
    right: auto;
    left: -50px;
    top: 40px;
    width: 13px;
    height: 22px;
    z-index: 20;
    background: transparent;
    bottom: auto;
    &:before{
      position: absolute;
      content: "";
      background: url("../../../../public/images/prev.svg")no-repeat;
      height: 22px;
      width: 12px;
      right: 0;
      top: 0;
    }
  }
  .slick-next{
    font-size: 0;
    position: absolute;
    right: -50px;
    left: auto;
    bottom: auto;
    width: 13px;
    height: 22px;
    z-index: 20;
    background: transparent;
    top: 40px;
    &:before{
      position: absolute;
      content: "";
      background: url("../../../../public/images/next.svg")no-repeat;
      height: 22px;
      width: 12px;
      right: 0;
      top: 0;
    }
  }

  .slider_items{
    box-sizing: border-box;
    display: flex!important;
    padding-right: 30px;
    .icon_box{
      margin-right: 20px;
    }
    .slider_content{
      flex-flow: column;
      display: flex;
      .rating_comments{
        display: flex;
        padding-top: 9px;
        p{
          color: #DB7F41;
          font-family: "Spartan",sans-serif;
          font-size: 14px;
          line-height: 16px;
          margin-right: 12px;
          padding-top: 4px;
        }
      }
      .descriptions{
        font-family: "OpenSansRegular",sans-serif;
        line-height: 19px;
        padding-top: 12px;
        font-size: 14px;

      }

    }
  }
}