.special_deal_block {
  height: 0px;
  width: 100%;
  transition: all 0.2s linear;
  background-color: #422D22;
  .content_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    & > div {
      font-family: "OpenSansRegular",sans-serif;
      &:first-of-type {
        color: #FFFFFF;
        font-size: 14px;
        span {
          text-decoration: underline;
          font-weight: 600;
          margin-left: 8px;
          cursor: pointer;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  span:last-child{
    >span{
      background: rgba(255, 255, 255, 0.1);
    }
  }
  svg{
    color: #ffffff;
  }
}
.open{
  height: 80px;
}