.header{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 100;
  .header_block{
    padding: 20px 0;
    height: 101px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:before {
      position: absolute;
      content: '';
      width: 1110px;
      margin: 0 auto;
      height: 1px;
      background: #FFFFFF;
      bottom: 0;
      opacity: 0.5;
    }
    .user_info{
      display: flex;
      align-items: center;
      a{
        margin-left: 32px;
        img{
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
        }
        &:hover{
          img{
            transform: scale(0.8);
          }
        }
      }
    }
    .user_menu{
      display: flex;
      position: relative;
      a{
        font-family: "SpartanSemiBold",sans-serif;
        color: #ffffff;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin: 0 16px;
        text-decoration: none;
        &:hover{
          opacity: 1;
        }
      }
      .active{
        opacity: 1;
        //font-family: "GT Walsheim Pro";

      }
      .block_drop_down{
        display: flex;
        cursor: pointer;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 14px;
        font-weight: 500;
        .text_block{
          align-items: flex-end;
          display: flex;
          flex-flow: column;
          div{
            font-family: "SpartanSemiBold",sans-serif;
            font-size: 16px;
          }
          span{
            font-family: "SpartanSemiBold",sans-serif;
            font-size: 12px;
          }
        }
        .arrow_block{
          padding: 0 10px;
          align-items: center;
          display: flex;
          & > img {
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
          }
        }
        .active_arrow{
          transform: rotate(180deg);
        }
      }
      .menu{
        z-index: 10;
        position: absolute;
        left: 0;
        top: 40px;
        padding: 16px;
        width: 190px;
        background-color: transparent;
        >a{
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #1A1A1A;
          font-size: 12px;
          img{
            margin-right: 8px;
          }
        }
        hr{
          height: 1px;
          display: flex;
          width: 100%;
          margin-bottom: 15px;
        }
        button{
          font-size: 12px;
          display: flex;
          align-items: center;
          background: transparent;
          cursor: pointer;
          img{
            margin-right: 8px;
          }
        }
      }
    }
  }
}