.conditions_wrapper{
  width: 100%;
  height: 567px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
  z-index: 10;
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: space-between;
    >div{
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          background-size: 100% 100%;
          width: 96px;
          height: 96px;
        }
      }
      span{
        color: #422D22;
        font-family: "SpartanSemiBold",sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        display: flex;
        padding-top: 12px;
        justify-content: center;
      }
    }
  }
  .communitybg2{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}