.community_wrapper{
  width: 100%;
  height: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 11;
  .content_block{
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    .title{
      color: #FFFFFF;
      text-transform: uppercase;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 48px;
      line-height: 50px;
      padding-bottom: 64px;
    }
    .descriptions{
      height: 57px;
      width: 555px;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 19px;
      padding-bottom: 32px;
      display: flex;
    }
    .members{
      display: flex;
      align-items: center;
      padding-bottom: 163px;
      span{
        padding-right: 16px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 19px;
      }
      .text_link{
        text-decoration: none;
        text-transform: uppercase;
        color: #DB7F41;
        font-family: "SpartanBold",sans-serif;
        font-size: 14px;
        align-items: center;
        display: flex;
        margin-top: 4px;
        &:hover{
          img{
            margin-left: 25px;
          }
        }
        img{
          margin-top: -5px;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          height: 14.5px;
          width: 8.5px;
          margin-left: 15px;
        }
      }
    }
  }
  .btn_color{
    text-transform: uppercase;
  }
  .position_block{
    z-index: 999;
    right: 0;
    position: absolute;
    bottom: 60px;
    height: 128px;
    width: 424px;
    border-radius: 100px 0 0 100px;
    background: rgba(66, 45, 34, 0.9);
    display: flex;
    justify-content: space-between;
    div{
      min-width: 128px;
      height: 128px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        background-size: 100% 100% ;
        width: 100px;
        height: 100px;
      }
    }
    span{
      padding-left: 12px;
      width: 100%;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      font-family: "SpartanSemiBold",sans-serif;
      font-size: 22px;
      line-height: 25px;
    }
  }
  .communitybg1{
    min-width: 1920px;
    left: calc(50% - 960px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}